{% load static %}
<nav class="navbar bg-body-tertiary header-nav">
  <div class="container-fluid">
    <a class="navbar-brand">
      <img src="{% static "images/gaye_logo.svg" %}" alt="nav_logo" class="header_logo">
    </a>
    <ul class="navbar-nav menu d-flex flex-row justify-content-end" id="navMenu">
      <li class="nav-item">
        <a class="nav-link" href="#">Kurslar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Üstünlüklər</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Haqqımızda</a>
      </li>
      <li class="nav-item contact-menu">
        <a class="nav-link" href="#">Müraciət et</a>
      </li>
    </ul>
  </div>
</nav>