{% load static %}
<section class="about-section">
    <div class="about-section-wrapper">
        <h3 class="d-flex justify-content-center fw-bold">Haqqımızda</h3>
        <div class="about-section-body d-flex justify-content-around">
            <div class="about-logo-wrapper">
                <img src="{% static "images/gaye-home-about.svg" %}" alt="gaye-home-about">
                <p>Bilənlə bilməyən eyni deyildir!</p>
            </div>
            <ul class="about-info-wrapper">
                <li class="d-flex justify-content-center align-items-center">
                    <img src="{% static "images/icons/location-icon.svg" %}" alt="location">
                    <p>9-cu mkr, Aygün məclis evinin yaxınlığı, 35-ci binanın arxası</p>
                </li>
                <li class="d-flex">
                    <img src="{% static "images/icons/phone-icon.svg" %}" alt="phone">
                    <p>+994 51 331 52 33    (018) 656 56 10</p>
                </li>
                <li class="d-flex">
                    <img src="{% static "images/icons/insta-icon.svg" %}" alt="insta">
                    <p>@qayetedrismerkezi</p>
                </li>
                <li class="d-flex">
                    <img src="{% static "images/icons/mail-icon.svg" %}" alt="mail">
                    <p>qayetedrismerkezi@gmail.com</p>
                </li>
            </ul>
        </div>
    </div>
</section>