{% load static %}
<section class="our-difference-section">
    <div class="our-difference-section-wrapper">
        <h3 class="d-flex justify-content-center fw-bold">Bizim Fərqimiz</h3>
        <div class="our-difference-section-body d-flex justify-content-around">
            <div class="our-difference-card d-flex flex-column align-items-center">
                <div class="our-difference-card-icon d-flex justify-content-center">
                    <img src="{% static "images/mentor-desteyi.svg" %}" alt="icon1">
                </div>
                <h3>Mentor dəstəyi</h3>
                <p>
                    Öyrənmə prosesini daha asanlaşdırmaq üçün kursumuzda mentorlar fəaliyyət göstərir
                </p>
            </div>
            <div class="our-difference-card d-flex flex-column align-items-center">
                <div class="our-difference-card-icon d-flex justify-content-center">
                    <img src="{% static "images/sinaq-imthn.svg" %}" alt="icon2">
                </div>
                <h3>Sınaq imtahanları</h3>
                <p>
                    Tədris olunan fənnlərin tam şəkildə qavranılması üçün kursumuzda sınaq imtahanları mövcuddur
                </p>
            </div>
            <div class="our-difference-card d-flex flex-column align-items-center">
                <div class="our-difference-card-icon d-flex justify-content-center">
                    <img src="{% static "images/flipped-classroom.svg" %}" alt="icon1">
                </div>
                <h3>Flipped clasroom metodu</h3>
                <p>
                    Kurs müddətində tələbələr video formatda nəzəri dərslərlə təmin olunur
                </p>
            </div>
        </div>
    </div>
</section>